body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.container {

}

.content {

}



button {
    height: 24px;
    width: 80px;
    color: white;
    background-color: #3b82f6;
    border-radius: 4px;
    border-color: #3b82f6;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-color: #1F2937;
    height: 60px;
}

.header-links ul {
    display: flex;
    gap: 8px;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

